// Body
$body-bg: #f5f7fb;
$body-color: #5c5c5c;
// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.85rem;
$line-height-base: 1.6;
$custom-green : #78c271;
$primary: $custom-green;

$accent-bg:#FC6461;
$mainHeight : 100vh;
$table-thead-bgcolor:#64d5b0;  
