.text-left{
	text-align:left;
}
.sugerencias{
	position: absolute;
    width: 70.5%;
    left: 20.2%;
    margin: 0;
    list-style: none;
    top: 100%;
    border: none;
	li{
		&:hover{
			color: #fff;
			background-color: #78c271;
		}
		&:first-child{
			border-top:0px;
		}
	}
}
.table-flex{
	border-radius: 20px;
	overflow: hidden;
	&>:not(:first-child){
		border-top:0px!important;
	}
	.table-flex-header{
		padding: 6px 0px;
		font-weight: 600;
		color:$white;
		border-radius: 6px;
		background-color:$table-thead-bgcolor;
		
	}
	.table-flex-body{
		height: 500px;
		overflow:scroll;
		.table-row-flex{
			color:$body-color;
			border-radius: 7px;
			background-color:white;
			margin:6px 0px;
			box-shadow: 3px 2px 6px rgba(185, 185, 185, 0.47);
		}
	}
	.table-row-flex{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.item-rf{
			flex-basis: 100%;
			flex: 1;
			display:flex;
			align-items: center;
			justify-content: center;
		}
	}
}

input.form-control,
select.form-control{
	background-color:white;
	&.active,
	&:focus{
		background-color:white;
	}
}
.wrap{
	height:calc(90vh - 140px );
	overflow:auto;
}
.bg-gray-300{
	background-color: $gray-300;
}
.btn-primary{
	color:#fff !important;
	background-color:#8446c7;
	border: none;
}
.actions button,
.actions a.material-icons{
	color:$secondary;
	cursor: pointer;
	transition:0.2s linear;
	transform-origin: center;
	&:hover{
		transform:scale(1.4);
	}
	&.info:hover{
		color:$blue;
	}
	&.edit:hover{
		color:$green;
	}
	&.delete:hover{
		color:$danger;
	}
	&.recycling:hover{
		color:$green;
	}
}
.material-icons {
	font-family: 'Material Icons';
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-size: 18px!important;  /* Preferred icon size */
	display: inline-block;
	line-height: 1.3;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
}
table td{
	position: relative;
}
span.disabled{
	display:block;
	width: 100%;
	height: 100%;
	cursor:no-drop;
	&:before {
		content:"";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: color #000;
		opacity: 0.3;
		z-index: 1;
	}
}